@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#openPopup{
    width: 20%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.popup {
    width: 50%;
    display: none;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}
.text{
    display: flex;
    justify-content: center;
    color: rgb(85, 139, 47);
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 3px #6fd649;   
}
#appliedText{
    display: none;
    color: rgb(85, 139, 47);
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 3px #6fd649;   
}
#applyBtn , #cancelBtn{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}